tests/FIXM/Schema/extensions/nas/NasEnRoute.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://www.fixm.aero/ext/nas/4.3" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:nas="http://www.fixm.aero/ext/nas/4.3" xmlns:fb="http://www.fixm.aero/base/4.2" elementFormDefault="qualified" version="4.3.0 Release Candidate">
	<xs:annotation>
		<xs:documentation>Contains definitions to NAS specific extension of FIXM Core En Route concepts.

=========================================== 
Copyright (c) 2021 US Federal Aviation Administration (FAA)
=========================================== 
All rights reserved. 
          
Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met: 
	- Redistributions of source code must retain the above copyright notice, this list of conditions and the disclaimer.
	- Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the disclaimer in the documentation and/or other materials provided with the distribution.
	- The name of US FAA or the names of its contributors may not be used to endorse or promote products derived from this specification without specific prior written permission.
          
DISCLAIMER 
          
THIS SPECIFICATION IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE. 
          
========================================== 
Editorial note: this license is an instance of the BSD license template as provided by the Open Source Initiative: 
http://www.opensource.org/licenses/bsd-license.php 
          
The authoritative reference for FIXM is www.FIXM.aero. 
          
Details on the US FAA: http://www.faa.gov/</xs:documentation>
	</xs:annotation>
	<xs:import namespace="http://www.fixm.aero/base/4.2" schemaLocation="../../core/base/Base.xsd"/>
	<xs:include schemaLocation="NasPosition.xsd"/>
	<xs:simpleType name="NasHandoffEventType">
		<xs:annotation>
			<xs:documentation>Characterizes a handoff in terms of its status.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="INITIATION"/>
			<xs:enumeration value="ACCEPTANCE"/>
			<xs:enumeration value="RETRACTION"/>
			<xs:enumeration value="TAKE_CONTROL"/>
			<xs:enumeration value="UPDATE"/>
			<xs:enumeration value="FAILURE"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RvsmFlightIndicatorType">
		<xs:annotation>
			<xs:documentation>Current and Future RVSM Flight Compliance
.Indicates if the flight is currently Reduced Vertical Separation Minimum (RVSM) compliant in RVSM airspace, as determined by the Traffic Flow Management System.
Indicates if the flight will beReduced Vertical Separation Minimum (RVSM) compliant when it reaches the RVSM airspace as determined by the Traffic Flow Management System (TFMS).</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="COMPLIANT">
				<xs:annotation>
					<xs:documentation>Indicates that the Flight is RVSM compliant.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="NON_COMPLIANT">
				<xs:annotation>
					<xs:documentation>Indicates that the Flight is not RVSM compliant.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="NasAtcUnitReferenceExtensionType">
		<xs:annotation>
			<xs:documentation>Extension of core AtcUnitReference to include additional NAS information.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="fb:AtcUnitReferenceExtensionType">
				<xs:sequence>
					<xs:element name="finalControllingSector" type="fb:AirspaceDesignatorType" minOccurs="0" maxOccurs="1" nillable="true">
						<xs:annotation>
							<xs:documentation>The last controlling sector this flight is expected to pass through in the current center.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="NasBoundaryCrossingType">
		<xs:complexContent>
			<xs:extension base="fb:BoundaryCrossingExtensionType">
				<xs:sequence>
					<xs:element name="handoff" type="nas:NasHandoffType" minOccurs="0" maxOccurs="1" nillable="true">
						<xs:annotation>
							<xs:documentation>An action taken to transfer the radar identification of an aircraft from one controller to another controller if the aircraft will enter the receiving controller's airspace and radio communications with the aircraft will be transferred. </xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="NasClearedFlightInformationType">
		<xs:annotation>
			<xs:documentation>Holds clearance information.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="clearanceHeading" type="fb:CharacterStringType" minOccurs="0" maxOccurs="1" nillable="true">
				<xs:annotation>
					<xs:documentation>Contains the En Route Controller Clearance heading, as entered by the controller in the fourth line of the Full Data Block.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="clearanceSpeed" type="fb:CharacterStringType" minOccurs="0" maxOccurs="1" nillable="true">
				<xs:annotation>
					<xs:documentation>This data element contains the En Route Controller Clearance speed, as entered by the controller in the fourth line of the Full Data Block.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="clearanceText" type="fb:CharacterStringType" minOccurs="0" maxOccurs="1" nillable="true">
				<xs:annotation>
					<xs:documentation>This data element contains free-form text entered by the En Route Controller, to be associated with the Clearance in the fourth line of the Full Data Block.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NasEnRouteType">
		<xs:annotation>
			<xs:documentation>Extension of core EnRoute to include additional NAS information.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="fb:EnRouteExtensionType">
				<xs:sequence>
					<xs:element name="aircraftPosition" type="nas:NasAircraftPositionType" minOccurs="0" maxOccurs="1" nillable="true">
						<xs:annotation>
							<xs:documentation>Groups information about Aircraft Position</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="clearedFlightInformation" type="nas:NasClearedFlightInformationType" minOccurs="0" maxOccurs="1" nillable="true">
						<xs:annotation>
							<xs:documentation>Holds clearance information.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="controllingUnit" type="fb:AtcUnitReferenceType" minOccurs="0" maxOccurs="1" nillable="true">
						<xs:annotation>
							<xs:documentation>The identifier of the Air Traffic Control unit in control of the aircraft.
 Identifies the ATC sector in control of the aircraft. </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="currentRvsmCompliance" type="nas:RvsmFlightIndicatorType" minOccurs="0" maxOccurs="1" nillable="true">
						<xs:annotation>
							<xs:documentation>Indicates if the flight is currently Reduced Vertical Separation Minimum (RVSM) compliant in RVSM airspace, as determined by the Traffic Flow Management System.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="expectedFurtherClearanceTime" type="fb:TimeType" minOccurs="0" maxOccurs="1" nillable="true">
						<xs:annotation>
							<xs:documentation>The time the flight can expect further clearance at the specified hold fix.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="futureRvsmCompliance" type="nas:RvsmFlightIndicatorType" minOccurs="0" maxOccurs="1" nillable="true">
						<xs:annotation>
							<xs:documentation>Indicates if the flight will be Reduced Vertical Separation Minimum (RVSM) compliant when it reaches the RVSM airspace as determined by the Traffic Flow Management System (TFMS).</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="interimAltitude" type="fb:FlightLevelOrAltitudeChoiceType" minOccurs="0" maxOccurs="1" nillable="true">
						<xs:annotation>
							<xs:documentation>The altitude an aircraft is cleared to maintain different from that in the flight plan.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="pointout" type="nas:PointoutType" minOccurs="0" maxOccurs="1" nillable="true">
						<xs:annotation>
							<xs:documentation>A physical or automated action taken by a controller to transfer the radar identification of an aircraft to another controller if the aircraft will or may enter the airspace or protected airspace of another controller and radio communications will not be transferred. </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="previousSSRCode" type="fb:ModeACodeType" minOccurs="0" maxOccurs="1" nillable="true">
						<xs:annotation>
							<xs:documentation>The Secondary surveillance radar (SSR) mode and code the flight was transponding before the current SSR Mode and Code.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="reassignedSSRCode" type="fb:ModeACodeType" minOccurs="0" maxOccurs="1" nillable="true">
						<xs:annotation>
							<xs:documentation>The Secondary Surveillance Radar (SSR) mode and beacon code assigned to the flight in the downstream facility, if the flight's current beacon code is already in use by another flight in that facility. The next beacon code differs from the flight's current beacon code.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="NasHandoffType">
		<xs:annotation>
			<xs:documentation>            Contains information about flight handoff between sectors.
         </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="acceptingUnit" type="fb:AtcUnitReferenceType" minOccurs="0" maxOccurs="1" nillable="true">
				<xs:annotation>
					<xs:documentation>The Air Traffic Control (ATC) unit accepting control of the aircraft as a result of a handoff.
 The Air Traffic Control (ATC) sector accepting control of the aircraft as a result of a handoff.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="event" type="nas:NasHandoffEventType" minOccurs="0" maxOccurs="1" nillable="true">
				<xs:annotation>
					<xs:documentation>Characterizes a handoff in terms of its status.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="receivingUnit" type="fb:AtcUnitReferenceType" minOccurs="0" maxOccurs="1" nillable="true">
				<xs:annotation>
					<xs:documentation> Identifies the ATC sector receiving control of the aircraft as a result of a handoff.
The Air Traffic Control unit receiving control of the aircraft as a result of a handoff.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="transferringUnit" type="fb:AtcUnitReferenceType" minOccurs="0" maxOccurs="1" nillable="true">
				<xs:annotation>
					<xs:documentation>The Air Traffic Control unit transferring control of the aircraft as a result of a handoff.
 Identifies the ATC sector transferring control of the aircraft as a result of a handoff.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PointoutType">
		<xs:annotation>
			<xs:documentation>A physical or automated action taken by a controller to transfer the radar identification of an aircraft to another controller if the aircraft will or may enter the airspace or protected airspace of another controller and radio communications will not be transferred. </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="originatingUnit" type="fb:AtcUnitReferenceType" minOccurs="0" maxOccurs="1" nillable="true">
				<xs:annotation>
					<xs:documentation> Identifies the Air Traffic Control unit originating the point out.
.Point Out - Originating Sector: Identifies the ATC sector originating the point out. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="receivingUnit" type="fb:AtcUnitReferenceType" minOccurs="0" maxOccurs="2000" nillable="true">
				<xs:annotation>
					<xs:documentation> Identifies the ATC sector receiving the point out. 
 Identifies the Air Traffic Control unit receiving the point out.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
