tests/FIXM/Schema/extensions/nas/NasPosition.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://www.fixm.aero/ext/nas/4.3" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:nas="http://www.fixm.aero/ext/nas/4.3" xmlns:fb="http://www.fixm.aero/base/4.2" elementFormDefault="qualified" version="4.3.0 Release Candidate">
	<xs:annotation>
		<xs:documentation>The NasPosition package contains information about the flight's current and planned reporting positions.

=========================================== 
Copyright (c) 2021 US Federal Aviation Administration (FAA)
=========================================== 
All rights reserved. 
          
Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met: 
	- Redistributions of source code must retain the above copyright notice, this list of conditions and the disclaimer.
	- Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the disclaimer in the documentation and/or other materials provided with the distribution.
	- The name of US FAA or the names of its contributors may not be used to endorse or promote products derived from this specification without specific prior written permission.
          
DISCLAIMER 
          
THIS SPECIFICATION IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE. 
          
========================================== 
Editorial note: this license is an instance of the BSD license template as provided by the Open Source Initiative: 
http://www.opensource.org/licenses/bsd-license.php 
          
The authoritative reference for FIXM is www.FIXM.aero. 
          
Details on the US FAA: http://www.faa.gov/</xs:documentation>
	</xs:annotation>
	<xs:import namespace="http://www.fixm.aero/base/4.2" schemaLocation="../../core/base/Base.xsd"/>
	<xs:include schemaLocation="NasMeasures.xsd"/>
	<xs:include schemaLocation="NasAltitude.xsd"/>
	<xs:simpleType name="NasCoastIndicatorType">
		<xs:annotation>
			<xs:documentation>An indicator the aircraft was unexpectedly not detected by radar (after a period of tracking).</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="COASTING"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="NasAccelerationType">
		<xs:annotation>
			<xs:documentation>Describes a flight's acceleration in X and Y axes</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="x" type="nas:AccelerationType" minOccurs="0" maxOccurs="1" nillable="true">
				<xs:annotation>
					<xs:documentation>Acceleration along the X-axis.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="y" type="nas:AccelerationType" minOccurs="0" maxOccurs="1" nillable="true">
				<xs:annotation>
					<xs:documentation>Acceleration along the Y-axis.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NasAircraftPositionType">
		<xs:annotation>
			<xs:documentation>Container for NAS target and track aircraft positions.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="actualSpeed" type="fb:GroundSpeedType" minOccurs="0" maxOccurs="1" nillable="true">
				<xs:annotation>
					<xs:documentation> The actual speed of the aircraft, collected via various methods.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="coastIndicator" type="nas:NasCoastIndicatorType" minOccurs="0" maxOccurs="1" nillable="true">
				<xs:annotation>
					<xs:documentation>An indicator the aircraft was unexpectedly not detected by radar (after a period of tracking).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="followingPosition" type="nas:PlannedReportingPositionType" minOccurs="0" maxOccurs="1" nillable="true">
				<xs:annotation>
					<xs:documentation>Estimated second future position of the aircraft transmitted in a non-radar airspace position report.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nextPosition" type="nas:PlannedReportingPositionType" minOccurs="0" maxOccurs="1" nillable="true">
				<xs:annotation>
					<xs:documentation>For Oceanic flights, the next reporting position is required.
 Estimated next future position of the aircraft transmitted in a non-radar airspace position report.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="position" type="fb:SignificantPointChoiceType" minOccurs="0" maxOccurs="1" nillable="true">
				<xs:annotation>
					<xs:documentation>The actual location of an active flight as reported by surveillance, for a flight tracked by radar, or from the position part of a pilot progress report, for an oceanic flight or flight operating in non-radar airspace. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="positionTime" type="fb:TimeType" minOccurs="0" maxOccurs="1" nillable="true">
				<xs:annotation>
					<xs:documentation>The time associated with the Current Position of an active flight, from the radar surveillance report or progress report.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="reportedLevel" type="nas:ReportedLevelType" minOccurs="0" maxOccurs="1" nillable="true">
				<xs:annotation>
					<xs:documentation>Provides the NAS reported altitude with optional suffixes (B, C, T).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="targetLevel" type="nas:TargetLevelType" minOccurs="0" maxOccurs="1" nillable="true">
				<xs:annotation>
					<xs:documentation>The Mode C target altitude, corrected for barometric pressure.  Can be marked as invalid.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="targetPosition" type="fb:GeographicalPositionType" minOccurs="0" maxOccurs="1" nillable="true">
				<xs:annotation>
					<xs:documentation>Aircraft target position, as reported by one raw radar return.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="targetPositionTime" type="fb:TimeType" minOccurs="0" maxOccurs="1" nillable="true">
				<xs:annotation>
					<xs:documentation>The time associated with the raw radar return.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="track" type="fb:BearingType" minOccurs="0" maxOccurs="1" nillable="true">
				<xs:annotation>
					<xs:documentation>The direction the aircraft is flying, over the ground, relative to true north.  It is the heading of the aircraft as impacted by the wind.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="trackAcceleration" type="nas:NasAccelerationType" minOccurs="0" maxOccurs="1" nillable="true">
				<xs:annotation>
					<xs:documentation>Describes a flight's acceleration in X and Y axes</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="trackVelocity" type="nas:NasVelocityType" minOccurs="0" maxOccurs="1" nillable="true">
				<xs:annotation>
					<xs:documentation>Describes flight's velocity in X and Y axes
         
Track Speed Components: Speed of the radar surveillance track along the X and Y components.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="verticalRate" type="nas:NasVerticalRateType" minOccurs="0" maxOccurs="1" nillable="true">
				<xs:annotation>
					<xs:documentation>Vertical Rate reported by the STDDS System.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NasVelocityType">
		<xs:annotation>
			<xs:documentation>Describes flight's velocity in X and Y axes
         
Track Speed Components: Speed of the radar surveillance track along the X and Y components.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="x" type="nas:NasIndicatedAirspeedType" minOccurs="0" maxOccurs="1" nillable="true">
				<xs:annotation>
					<xs:documentation>Speed along the X-axis.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="y" type="nas:NasIndicatedAirspeedType" minOccurs="0" maxOccurs="1" nillable="true">
				<xs:annotation>
					<xs:documentation>Speed along the Y-axis.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PlannedReportingPositionType">
		<xs:annotation>
			<xs:documentation>Estimated future position, altitude and time of the aircraft transmitted in a non-radar airspace position report.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="estimatedTime" type="fb:TimeType" minOccurs="0" maxOccurs="1" nillable="true">
				<xs:annotation>
					<xs:documentation>Estimated time associated with the planned reporting position.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="level" type="fb:FlightLevelOrAltitudeChoiceType" minOccurs="0" maxOccurs="1" nillable="true">
				<xs:annotation>
					<xs:documentation>Level associated with the planned reporting position.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="position" type="fb:GeographicalPositionType" minOccurs="0" maxOccurs="1" nillable="true">
				<xs:annotation>
					<xs:documentation>Planned reporting position point.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
