tests/FIXM/Schema/extensions/nas/NasRoute.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://www.fixm.aero/ext/nas/4.3" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:nas="http://www.fixm.aero/ext/nas/4.3" xmlns:fb="http://www.fixm.aero/base/4.2" elementFormDefault="qualified" version="4.3.0 Release Candidate">
	<xs:annotation>
		<xs:documentation>Contains the NAS specific flightroute definition that extends the Core FIXM  flight route concepts.

=========================================== 
Copyright (c) 2021 US Federal Aviation Administration (FAA)
=========================================== 
All rights reserved. 
          
Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met: 
	- Redistributions of source code must retain the above copyright notice, this list of conditions and the disclaimer.
	- Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the disclaimer in the documentation and/or other materials provided with the distribution.
	- The name of US FAA or the names of its contributors may not be used to endorse or promote products derived from this specification without specific prior written permission.
          
DISCLAIMER 
          
THIS SPECIFICATION IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE. 
          
========================================== 
Editorial note: this license is an instance of the BSD license template as provided by the Open Source Initiative: 
http://www.opensource.org/licenses/bsd-license.php 
          
The authoritative reference for FIXM is www.FIXM.aero. 
          
Details on the US FAA: http://www.faa.gov/</xs:documentation>
	</xs:annotation>
	<xs:import namespace="http://www.fixm.aero/base/4.2" schemaLocation="../../core/base/Base.xsd"/>
	<xs:include schemaLocation="NasAltitude.xsd"/>
	<xs:simpleType name="AmendmentGeneratedTypeType">
		<xs:annotation>
			<xs:documentation>Provides an Amendment generated type enumerated list.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="MANUAL"/>
			<xs:enumeration value="AUTO"/>
			<xs:enumeration value="AUTO_CHNG_RTE"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AmendmentRequestTypeType">
		<xs:annotation>
			<xs:documentation>The type of amendment request.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="CANCEL"/>
			<xs:enumeration value="UPDATE"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AmendmentStatusType">
		<xs:annotation>
			<xs:documentation>Provides a route amendment status enumerated list.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="SENT"/>
			<xs:enumeration value="HELD"/>
			<xs:enumeration value="TOUT"/>
			<xs:enumeration value="PEND"/>
			<xs:enumeration value="APLD"/>
			<xs:enumeration value="AMOD"/>
			<xs:enumeration value="DROP"/>
			<xs:enumeration value="RJCT"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ClassifiedSpeedIndicatorType">
		<xs:annotation>
			<xs:documentation>The indication that the speed for this flight is classified and is not to be recorded. </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="CLASSIFIED"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="IncompleteIndicatorType">
		<xs:annotation>
			<xs:documentation>Indicates whether the NAS Route is incomplete or not.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="INCOMPLETE"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="InhibitAdaptedArrRoutesIndicatorType">
		<xs:annotation>
			<xs:documentation>Indicates whether adapted arrival routes are inhibited for use for the NAS Route for the flight or not.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="INHIBIT_ADAPTED_ARRIVAL_ROUTES"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="InhibitAdaptedDepRoutesIndicatorType">
		<xs:annotation>
			<xs:documentation>Indicates whether adapted departure routes are inhibited for use for the NAS Route for the flight or not.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="INHIBIT_ADAPTED_DEPARTURE_ROUTES"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NasFlightCodingType">
		<xs:annotation>
			<xs:documentation>Current flight coding.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="HIGH_PRIORITY"/>
			<xs:enumeration value="NO_ROUTE_AVAILABLE"/>
			<xs:enumeration value="NOT_READ"/>
			<xs:enumeration value="TERMINAL_EN_ROUTE_CONTROL"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NasFlightRulesType">
		<xs:annotation>
			<xs:documentation>The regulation, or combination of regulations, that governs all aspects of operations under which the pilot plans to fly in the NAS. </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="IFR">
				<xs:annotation>
					<xs:documentation>Instrument Flight Rules</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="VFR">
				<xs:annotation>
					<xs:documentation>Visual Flight Rules</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="DVFR">
				<xs:annotation>
					<xs:documentation>Defense Visual Flight Rules </xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NasRevisionSourceType">
		<xs:annotation>
			<xs:documentation>Source of the revision (e.g., a manual entry or captured from a departure complex flight strip).</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="DEPT_COMPLEX"/>
			<xs:enumeration value="MANUAL"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NasRouteAcknowledgementType">
		<xs:annotation>
			<xs:documentation>Indicates whether or not a user has acknowledged the current routing revision.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="ACKNOWLEDGED"/>
			<xs:enumeration value="NOT_ACKNOWLEDGED"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="StarsFlightRulesType">
		<xs:annotation>
			<xs:documentation>STARS-reported flight rules.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="VFR"/>
			<xs:enumeration value="VFR_ON_TOP"/>
			<xs:enumeration value="ENROUTE_IFR"/>
			<xs:enumeration value="IFR"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TailoredIndicatorType">
		<xs:annotation>
			<xs:documentation>Indicates whether the NAS Route is tailored or not (i.e., a portion of the route string immediately after the departure aerodrome has been removed). </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="TAILORED"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="UnknownRouteElementType">
		<xs:annotation>
			<xs:documentation>The character data parsed by the Traffic Flow Management System from the route string that could not be characterized as fix, route or indicator.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="fb:CharacterStringType">
			<xs:minLength value="2"/>
			<xs:maxLength value="28"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="NasAdaptedArrivalRouteType">
		<xs:annotation>
			<xs:documentation>Adapted Route Extension for Adapted Arrival Route
Fix: Contains the uncombined Fixed Airspace Volume (FAV) number containing the first Adapted Arrival Route (AAR) fix.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="nas:NasAdaptedRouteType">
				<xs:sequence>
					<xs:element name="nasFavNumber" type="fb:CharacterStringType" minOccurs="0" maxOccurs="2000" nillable="true">
						<xs:annotation>
							<xs:documentation>Contains the uncombined Fixed Airspace Volume (FAV) number containing the first Adapted Arrival Route (AAR) fix.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="NasAdaptedRouteType">
		<xs:annotation>
			<xs:documentation> Representation of converted route
 The identifier used to internally identify the Adapted Departure Route (ADR).</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="nasRouteAlphanumeric" type="fb:CharacterStringType" minOccurs="0" maxOccurs="1" nillable="true">
				<xs:annotation>
					<xs:documentation>Route (AAR) to be provided to the controller at the time the auto-route is applied.
This field contains the route string with an Adapted Departure Arrival Route (ADAR) to be provided to the controller at the time the auto-route is applied.
This field contains the route string with an Adapted Departure Route (ADR) to be provided to the controller at the time the auto-route is applied.
This field contains the route string with an Adapted Arrival Route (AAR) to be provided to the controller at the time the auto-route is applied.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nasRouteIdentifier" type="fb:CharacterStringType" minOccurs="0" maxOccurs="1" nillable="true">
				<xs:annotation>
					<xs:documentation>The five character identifier used to internally identify an adapted arrival route.
 The identifier used to internally identify the Adapted Departure Route (ADR).
The five character identifier is used to internally identify an Adapted Departure Arrival Route (ADAR).</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NasAirspeedChoiceType">
		<xs:annotation>
			<xs:documentation>            A NAS extension to add an additional optional value to element Airspeed,
            In the NAS this element is: Aircraft Speed/Speed Classified.
            The value is "SC". Used when the speed is a classifed value.
         </xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="classified" type="nas:ClassifiedSpeedIndicatorType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Container for the Classified Speed Indicator.
The indication that the speed for this flight is classified and is not to be recorded. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nasAirspeed" type="fb:TrueAirspeedType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Represents the aircraft speed expressed in either true airspeed or mach.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="NasEramRouteAmendmentType">
		<xs:annotation>
			<xs:documentation>Container for details of the flights last ERAM amendment request.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="amendment" type="nas:NasRouteAmendmentType" minOccurs="0" maxOccurs="1" nillable="true">
				<xs:annotation>
					<xs:documentation>Amendment details.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="detailOne" type="fb:CharacterStringType" minOccurs="0" maxOccurs="1" nillable="true">
				<xs:annotation>
					<xs:documentation>Detail One.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="detailTwo" type="fb:CharacterStringType" minOccurs="0" maxOccurs="1" nillable="true">
				<xs:annotation>
					<xs:documentation>Detail Two.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="eramStatus" type="fb:CharacterStringType" minOccurs="0" maxOccurs="1" nillable="true">
				<xs:annotation>
					<xs:documentation>ERAM status.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="generatedType" type="nas:AmendmentGeneratedTypeType" minOccurs="0" maxOccurs="1" nillable="true">
				<xs:annotation>
					<xs:documentation>Provides an Amendment type enumerated list.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="messageId" type="fb:CharacterStringType" minOccurs="0" maxOccurs="1" nillable="true">
				<xs:annotation>
					<xs:documentation>Message Identifier.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="requestType" type="nas:AmendmentRequestTypeType" minOccurs="0" maxOccurs="1" nillable="true">
				<xs:annotation>
					<xs:documentation>The type of amendment request.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="site" type="fb:CharacterStringType" minOccurs="0" maxOccurs="1" nillable="true">
				<xs:annotation>
					<xs:documentation>Site.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="statusUpdateTime" type="fb:TimeType" minOccurs="0" maxOccurs="1" nillable="true">
				<xs:annotation>
					<xs:documentation>Amendment status update time specification.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="tmiIdentifierSuffix" type="fb:CountType" minOccurs="0" maxOccurs="1" nillable="true">
				<xs:annotation>
					<xs:documentation>Traffic Management Initiative identifier suffix for the amendment.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="workstation" type="fb:CharacterStringType" minOccurs="0" maxOccurs="1" nillable="true">
				<xs:annotation>
					<xs:documentation>Workstation.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NasRevisionInformationType">
		<xs:annotation>
			<xs:documentation>Current revision data including revision identifier and source.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="number" type="fb:CountType" minOccurs="0" maxOccurs="1" nillable="true">
				<xs:annotation>
					<xs:documentation>Non-negative integer representing the current revision increment.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="source" type="nas:NasRevisionSourceType" minOccurs="0" maxOccurs="1" nillable="true">
				<xs:annotation>
					<xs:documentation>Source of the revision (e.g., a manual entry or captured from a departure complex flight strip).</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NasRouteAmendmentType">
		<xs:annotation>
			<xs:documentation>Route amendment details.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="amendmentTime" type="fb:TimeType" minOccurs="0" maxOccurs="1" nillable="true">
				<xs:annotation>
					<xs:documentation>Date/Time when the amendment was sent to ERAM.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="protectedSegment" type="fb:CharacterStringType" minOccurs="0" maxOccurs="1" nillable="true">
				<xs:annotation>
					<xs:documentation>Protected segment associated with the last amendment sent to ERAM for this flight.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="rejectReason" type="fb:CharacterStringType" minOccurs="0" maxOccurs="1" nillable="true">
				<xs:annotation>
					<xs:documentation>Text provided to explain a status of RJCT.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="routeAmendment" type="fb:CharacterStringType" minOccurs="0" maxOccurs="1" nillable="true">
				<xs:annotation>
					<xs:documentation>Amended route text in the last amendment sent to ERAM for this flight.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="status" type="nas:AmendmentStatusType" minOccurs="0" maxOccurs="1" nillable="true">
				<xs:annotation>
					<xs:documentation>Status of the amendment.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="tmiIdentifier" type="fb:CharacterStringType" minOccurs="0" maxOccurs="1" nillable="true">
				<xs:annotation>
					<xs:documentation>TMI ID associated with the route amendment.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NasRouteApprovalStatusType">
		<xs:annotation>
			<xs:documentation>Compound route approval information composed of the current flight coding (e.g., high priority) and revision information (whether acknowledged and current revision number, if any).</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="flightCoding" type="nas:NasFlightCodingType" minOccurs="0" maxOccurs="1" nillable="true">
				<xs:annotation>
					<xs:documentation>Current flight coding; if this is anything other than NOT_READ then it takes display precendence over the route data. If it is NOT_READ, then the routeAcknowledgement and revision data controls the display.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="revision" type="nas:NasRevisionInformationType" minOccurs="0" maxOccurs="1" nillable="true">
				<xs:annotation>
					<xs:documentation>Current revision data (if any); not provided if flight has no revisions.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="routeAcknowledgement" type="nas:NasRouteAcknowledgementType" minOccurs="0" maxOccurs="1" nillable="true">
				<xs:annotation>
					<xs:documentation>Indicates whether or not a user has acknowledged the current routing revision (if no revision is provided, and this is set to ACKNOWLEDGED, then the flight is "cleared as filed").</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NasRouteElementType">
		<xs:annotation>
			<xs:documentation>                Extends the core ICAO flight route element information to add NAS extensions
            </xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="fb:RouteTrajectoryElementExtensionType">
				<xs:sequence>
					<xs:element name="estimatedTime" type="fb:TimeType" minOccurs="0" maxOccurs="1" nillable="true">
						<xs:annotation>
							<xs:documentation>The estimated time over the route point. </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="nasFlightRules" type="nas:NasFlightRulesType" minOccurs="0" maxOccurs="1" nillable="true">
						<xs:annotation>
							<xs:documentation>The regulation, or combination of regulations, that governs all aspects of operations under which the pilot plans to fly in the NAS. </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="reEntryCount" type="fb:CountType" minOccurs="0" maxOccurs="1" nillable="true">
						<xs:annotation>
							<xs:documentation>An indication that a portion of a Military Route is to be flown more than once.  The element includes an indication of which adapted portion of the route as well as the number of times the fixes are to be flown. It is filed in a NAS Route string and associated with a Military Route. There can be up to two of these per Military Route in the NAS route string. </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="reEntrySpecial" type="fb:CountType" minOccurs="0" maxOccurs="1" nillable="true">
						<xs:annotation>
							<xs:documentation>Count of the reentry Special route.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="unknownRouteElement" type="nas:UnknownRouteElementType" minOccurs="0" maxOccurs="1" nillable="true">
						<xs:annotation>
							<xs:documentation>The character data parsed by the Traffic Flow Management System from the route string that could not be characterized as fix, route or indicator.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="NasRouteInformationType">
		<xs:annotation>
			<xs:documentation>            Extends the core route type to replace ICAO fields with equivalent NAS-specific elements.
         
This element is the filed route. It only includes acknowledged auto routes. Once the flight is active, this element shows the currently cleared route the airplane will fly from the departure airport to the arrival airport.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="fb:FlightRouteInformationExtensionType">
				<xs:sequence>
					<xs:element name="adaptedArrivalRoute" type="nas:NasAdaptedArrivalRouteType" minOccurs="0" maxOccurs="1" nillable="true">
						<xs:annotation>
							<xs:documentation>Container for Adapted Arrival Route information.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="adaptedDepartureArrivalRoute" type="nas:NasAdaptedRouteType" minOccurs="0" maxOccurs="1" nillable="true">
						<xs:annotation>
							<xs:documentation>Container for Adapted Arrival Departure Route information.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="adaptedDepartureRoute" type="nas:NasAdaptedRouteType" minOccurs="0" maxOccurs="1" nillable="true">
						<xs:annotation>
							<xs:documentation>Container for Adapted Departure Route information.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="assignedAltitude" type="nas:NasLevelChoiceType" minOccurs="0" maxOccurs="1" nillable="true">
						<xs:annotation>
							<xs:documentation>The cruise altitude assigned to the active flight.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="atcIntendedRoute" type="fb:CharacterStringType" minOccurs="0" maxOccurs="1" nillable="true">
						<xs:annotation>
							<xs:documentation>The current cleared flight plan route with any unacknowledged auto routes (preferential routes, transition fixes and A-line fixes) already applied. </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="greatCircleDistance" type="fb:DistanceType" minOccurs="0" maxOccurs="1" nillable="true">
						<xs:annotation>
							<xs:documentation>Provides the Great Circle Distance, in nautical miles, between the departure and the destination airports for the flight.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="holdFix" type="fb:SignificantPointChoiceType" minOccurs="0" maxOccurs="1" nillable="true">
						<xs:annotation>
							<xs:documentation>The location for the flight to Hold along the filed route of flight.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="incompleteIndicator" type="nas:IncompleteIndicatorType" minOccurs="0" maxOccurs="1" nillable="true">
						<xs:annotation>
							<xs:documentation>Indicates whether the NAS Route is incomplete or not.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="inhibitAdaptedArrRoutes" type="nas:InhibitAdaptedArrRoutesIndicatorType" minOccurs="0" maxOccurs="1" nillable="true">
						<xs:annotation>
							<xs:documentation> Indicates whether adapted arrival routes are inhibited for use for the NAS Route for the flight or not.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="inhibitAdaptedDepRoutes" type="nas:InhibitAdaptedDepRoutesIndicatorType" minOccurs="0" maxOccurs="1" nillable="true">
						<xs:annotation>
							<xs:documentation> Indicates whether adapted departure routes are inhibited for use for the NAS Route for the flight or not.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="lastRouteAmendment" type="nas:NasEramRouteAmendmentType" minOccurs="0" maxOccurs="1" nillable="true">
						<xs:annotation>
							<xs:documentation>Details of the flights last ERAM amendment request.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="localIntendedRoute" type="fb:CharacterStringType" minOccurs="0" maxOccurs="1" nillable="true">
						<xs:annotation>
							<xs:documentation>The flight plan route that is coordinated to penetrated facilities. It consists of the filed route (CMS field 10a) merged with any expected-to-be-applied-by-the-controlling-center Adapted Departure Routes (ADRs), Adapted Departure Arrival Routes (ADARs) or Adapted Arrival Routes (AARs) applied.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="nasPreviousRouteText" type="fb:CharacterStringType" minOccurs="0" maxOccurs="1" nillable="true">
						<xs:annotation>
							<xs:documentation>This element is the current route. Once the flight is active, this element shows the currently cleared route the airplane will fly from the departure airport to the arrival airport.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="nasRouteText" type="fb:CharacterStringType" minOccurs="0" maxOccurs="1" nillable="true">
						<xs:annotation>
							<xs:documentation>This element is the filed route. It only includes acknowledged auto routes. Once the flight is active, this element shows the currently cleared route the airplane will fly from the departure airport to the arrival airport.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="requestedAirspeed" type="nas:NasAirspeedChoiceType" minOccurs="0" maxOccurs="1" nillable="true">
						<xs:annotation>
							<xs:documentation>The indication that the speed for this flight is classified and is not to be recorded. </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="requestedAltitude" type="nas:NasLevelChoiceType" minOccurs="0" maxOccurs="1" nillable="true">
						<xs:annotation>
							<xs:documentation>The cruise altitude filed or requested for the proposed flight.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="routeApprovalStatus" type="nas:NasRouteApprovalStatusType" minOccurs="0" maxOccurs="1" nillable="true">
						<xs:annotation>
							<xs:documentation>Used to provide flight coding and route revision information.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="routeImpactList" type="nas:RouteImpactListType" minOccurs="0" maxOccurs="1" nillable="true">
						<xs:annotation>
							<xs:documentation>Current traffic flow management prediction of en route Air Traffic Control units (centres), sectors and airspace elements along the trajectory of a flight.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="starsFlightRules" type="nas:StarsFlightRulesType" minOccurs="0" maxOccurs="1" nillable="true">
						<xs:annotation>
							<xs:documentation>STARS-reported flight rules.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="tailoredIndicator" type="nas:TailoredIndicatorType" minOccurs="0" maxOccurs="1" nillable="true">
						<xs:annotation>
							<xs:documentation> Indicates whether the NAS Route is tailored or not (i.e., a portion of the route string immediately after the departure aerodrome has been removed). </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="tfmsNextEventPosition" type="fb:GeographicalPositionType" minOccurs="0" maxOccurs="1" nillable="true">
						<xs:annotation>
							<xs:documentation>Position of next non-expired event in the modeled route of flight. The modeled route of flight is a series of events consisting of a time, latitude, and longitude along the path of the flight. An expired event is a position already reached by the flight.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PredictedFixType">
		<xs:annotation>
			<xs:documentation>Contains information about flight traversal of predicted fix
Current prediction of fixes along the trajectory of a flight, where these predictions are based on all the information available to the Traffic Flow Management System (TFMS).</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="fb:SignificantPointChoiceType">
				<xs:sequence>
					<xs:element name="estimatedElapsedTime" type="fb:DurationType" minOccurs="0" maxOccurs="1" nillable="true">
						<xs:annotation>
							<xs:documentation> The estimated time to arrive at the named fix relative to departure time.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PredictedSectorType">
		<xs:annotation>
			<xs:documentation>Contains information about flight traversal of predicted sector</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="estimatedElapsedEntryTime" type="fb:DurationType" minOccurs="0" maxOccurs="1" nillable="true">
				<xs:annotation>
					<xs:documentation> The estimated time to arrive at the Sector entry point relative to departure time.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sector" type="fb:AirspaceDesignatorType" minOccurs="0" maxOccurs="1" nillable="true">
				<xs:annotation>
					<xs:documentation>Current prediction of the sectors along the trajectory of a flight.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PredictedUnitType">
		<xs:annotation>
			<xs:documentation>Contains information about flight traversal of predicted unit
Current prediction of the en route Air Traffic Control units (centres) along the trajectory of a flight.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="estimatedElapsedEntryTime" type="fb:DurationType" minOccurs="0" maxOccurs="1" nillable="true">
				<xs:annotation>
					<xs:documentation>The estimated time to arrive at the Unit (Center/ARTCC) entry point relative to departure time.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="unit" type="fb:AtcUnitNameType" minOccurs="0" maxOccurs="1" nillable="true">
				<xs:annotation>
					<xs:documentation>Current prediction of the en route Air Traffic Control units (centres) along the trajectory of a flight.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PredictedWaypointType">
		<xs:annotation>
			<xs:documentation>Contains information about flight traversal of predicted waypoint
Current prediction of the waypoints of the trajectory for a flight, where these predictions are based on all the information available to the Traffic Flow Management System (TFMS).</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="fb:GeographicalPositionType">
				<xs:sequence>
					<xs:element name="estimatedElapsedTime" type="fb:DurationType" minOccurs="0" maxOccurs="1" nillable="true">
						<xs:annotation>
							<xs:documentation>Time: The estimated time to arrive at the latitude/longitude waypoint relative to departure time.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="RouteImpactListType">
		<xs:annotation>
			<xs:documentation>Current traffic flow management prediction of en route Air Traffic Control units (centres), sectors and airspace elements along the trajectory of a flight.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="predictedAirway" type="fb:RouteDesignatorType" minOccurs="0" maxOccurs="2000" nillable="true">
				<xs:annotation>
					<xs:documentation> Current prediction of the airways along the trajectory of a flight.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="predictedFix" type="nas:PredictedFixType" minOccurs="0" maxOccurs="2000" nillable="true">
				<xs:annotation>
					<xs:documentation>Contains information about flight traversal of predicted units.
 Current prediction of fixes along the trajectory of a flight, where these predictions are based on all the information available to the Traffic Flow Management System (TFMS).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="predictedSector" type="nas:PredictedSectorType" minOccurs="0" maxOccurs="2000" nillable="true">
				<xs:annotation>
					<xs:documentation>Contains information about flight traversal of predicted sector</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="predictedUnit" type="nas:PredictedUnitType" minOccurs="0" maxOccurs="2000" nillable="true">
				<xs:annotation>
					<xs:documentation>Contains information about flight traversal of predicted unit
Units: Current prediction of the en route Air Traffic Control units (centres) along the trajectory of a flight.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="predictedWaypoint" type="nas:PredictedWaypointType" minOccurs="0" maxOccurs="2000" nillable="true">
				<xs:annotation>
					<xs:documentation>Contains information about flight traversal of predicted waypoint
Current prediction of the waypoints of the trajectory for a flight, where these predictions are based on all the information available to the Traffic Flow Management System (TFMS).</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
