tests/FIXM/Schema/extensions/nas/NasTmiConstrainedAirspace.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://www.fixm.aero/ext/nas/4.3" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:nas="http://www.fixm.aero/ext/nas/4.3" xmlns:fb="http://www.fixm.aero/base/4.2" elementFormDefault="qualified" version="4.3.0 Release Candidate">
	<xs:annotation>
		<xs:documentation>Contains information about constrained airspaces associated with Traffic Management Initiatives.

=========================================== 
Copyright (c) 2021 US Federal Aviation Administration (FAA)
=========================================== 
All rights reserved. 
          
Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met: 
	- Redistributions of source code must retain the above copyright notice, this list of conditions and the disclaimer.
	- Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the disclaimer in the documentation and/or other materials provided with the distribution.
	- The name of US FAA or the names of its contributors may not be used to endorse or promote products derived from this specification without specific prior written permission.
          
DISCLAIMER 
          
THIS SPECIFICATION IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE. 
          
========================================== 
Editorial note: this license is an instance of the BSD license template as provided by the Open Source Initiative: 
http://www.opensource.org/licenses/bsd-license.php 
          
The authoritative reference for FIXM is www.FIXM.aero. 
          
Details on the US FAA: http://www.faa.gov/</xs:documentation>
	</xs:annotation>
	<xs:import namespace="http://www.fixm.aero/base/4.2" schemaLocation="../../core/base/Base.xsd"/>
	<xs:simpleType name="FlightExitIndicatorType">
		<xs:annotation>
			<xs:documentation>Indicates that a flight is an exit flight, and it is no longer intersecting the constrained airspace.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="FLIGHT_EXIT"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SlotYieldedIndicatorType">
		<xs:annotation>
			<xs:documentation>Indicates the slot currently specified in  Runway Arrival Time - Controlled or Airspace Entry Time - Controlled is to be given up by the Airspace User in return for a later slot. (Via the Slot Credit Substitution process).</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="SLOT_YIELDED">
				<xs:annotation>
					<xs:documentation>.Yielded Slot Indicator : Indicates the slot currently specified in "Runway Arrival Time - Controlled" is to be given up by the Airspace User in return for a later slot.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="AirspaceAcceptableSlotSubstitutionType">
		<xs:annotation>
			<xs:documentation>Container that holds information about Airspace Slot Credit Substitution</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="earliest" type="fb:TimeType" minOccurs="0" maxOccurs="1" nillable="true">
				<xs:annotation>
					<xs:documentation> The earliest time at which the Airspace user will accept a slot in a Traffic Management Initiative (TMI) Airspace Flow Program (AFP) in return for a yielded slot.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="latest" type="fb:TimeType" minOccurs="0" maxOccurs="1" nillable="true">
				<xs:annotation>
					<xs:documentation>The latest time at which the Airspace user will accept a slot in a Traffic Management Initiative (TMI) Airspace Flow Program (AFP), in return for a yielded slot.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AirspaceEntryTimeType">
		<xs:annotation>
			<xs:documentation>Container for :
Airspace Entry Time - Controlled
Airspace Entry Time - Earliest 
Airspace Entry Time - Initial
Airspace Entry Time - Original 
Airspace Entry Time - Traffic Flow Management System Estimated </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="base" type="fb:TimeType" minOccurs="0" maxOccurs="1" nillable="true">
				<xs:annotation>
					<xs:documentation> The last Airspace Entry Time - Traffic Flow Management System Estimated modeled by the Traffic Flow Management System (TFMS) before either a Traffic Management Initiative is issued, or the flight departs, and includes any time-out delay modeled by TFMS.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="controlled" type="fb:TimeType" minOccurs="0" maxOccurs="1" nillable="true">
				<xs:annotation>
					<xs:documentation>The time at which a flight is required to arrive at a constrained airspace element as a result of a tactical slot allocation or a Traffic Management Initiative (TMI).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="earliest" type="fb:TimeType" minOccurs="0" maxOccurs="1" nillable="true">
				<xs:annotation>
					<xs:documentation>The earliest time the flight could enter the constrained airspace.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="initial" type="fb:TimeType" minOccurs="0" maxOccurs="1" nillable="true">
				<xs:annotation>
					<xs:documentation> The date and time at which a flight was originally planning to enter into the airspace.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="original" type="fb:TimeType" minOccurs="0" maxOccurs="1" nillable="true">
				<xs:annotation>
					<xs:documentation> The last Airspace Entry Time - Traffic Flow Management System Estimated modeled by the Traffic Flow Management System (TFMS) before either a Traffic Management Initiative is issued, or the flight departs, or the flight is  time-out  delayed by TFMS.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="slotSubstitution" type="nas:AirspaceAcceptableSlotSubstitutionType" minOccurs="0" maxOccurs="1" nillable="true">
				<xs:annotation>
					<xs:documentation>Information about Airspace Slot Credit Subsititution</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="tfmsEstimated" type="fb:TimeType" minOccurs="0" maxOccurs="1" nillable="true">
				<xs:annotation>
					<xs:documentation>The estimated airspace entry time considering all data sources, as determined by Traffic Flow Management System (TFMS).</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AirspaceExitTimeType">
		<xs:annotation>
			<xs:documentation>Container for Airspace Exit Time - Traffic Flow Management System Estimated</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="extendedExitTfmsEstimated" type="fb:TimeType" minOccurs="0" maxOccurs="1" nillable="true">
				<xs:annotation>
					<xs:documentation>The estimated airspace exit time for the flight when using the extended end time of the constrained airspace.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="tfmsEstimated" type="fb:TimeType" minOccurs="0" maxOccurs="1" nillable="true">
				<xs:annotation>
					<xs:documentation>The estimated airspace exit time considering all data sources, as determined by Traffic Flow Management System (TFMS).</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NasConstrainedAirspaceType">
		<xs:annotation>
			<xs:documentation>Container for information about constrained airspaces (FCA, FEA) associated with the flight.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="constrainedAirspaceIdentifier" type="fb:TextNameType" minOccurs="0" maxOccurs="1" nillable="true">
				<xs:annotation>
					<xs:documentation>The Identifier for the constrained airspace.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="constrainedAirspaceName" type="fb:CharacterStringType" minOccurs="0" maxOccurs="1" nillable="true">
				<xs:annotation>
					<xs:documentation>Constrained Airspace associated with the airspace controlled entry time.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="flightExitIndicator" type="nas:FlightExitIndicatorType" minOccurs="0" maxOccurs="1" nillable="true">
				<xs:annotation>
					<xs:documentation> Indicates that a flight is an exit flight, and it is no longer intersecting the constrained airspace.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="intersection" type="nas:NasIntersectionType" minOccurs="0" maxOccurs="2000" nillable="true">
				<xs:annotation>
					<xs:documentation>Contains information about each time the flight intersects the constrained airspace.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="lastUpdateTime" type="fb:TimeType" minOccurs="0" maxOccurs="1" nillable="true">
				<xs:annotation>
					<xs:documentation>The time when the Flow Constrained Area definition was last updated.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="tfmsFlightCreationTime" type="fb:TimeType" minOccurs="0" maxOccurs="1" nillable="true">
				<xs:annotation>
					<xs:documentation>The time when the flight was first detected intersecting the Flow Evaluation Area/Flow Constrained Area.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yieldedSlot" type="nas:SlotYieldedIndicatorType" minOccurs="0" maxOccurs="1" nillable="true">
				<xs:annotation>
					<xs:documentation>Indicates the slot currently specified in   Runway Arrival Time - Controlled   is to be given up by the Airspace User in return for a later slot.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NasIntersectionType">
		<xs:annotation>
			<xs:documentation>Container for information about each time the flight intersects the constrained airspace.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="entryPoint" type="fb:SignificantPointChoiceType" minOccurs="0" maxOccurs="1" nillable="true">
				<xs:annotation>
					<xs:documentation> The flight's position at entry into the constrained airspace.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="entryPointHeading" type="fb:BearingType" minOccurs="0" maxOccurs="1" nillable="true">
				<xs:annotation>
					<xs:documentation> The flight's heading at the entry point into the constrained airspace.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="entryTime" type="nas:AirspaceEntryTimeType" minOccurs="0" maxOccurs="1" nillable="true">
				<xs:annotation>
					<xs:documentation>Container for :
Airspace Entry Time - Controlled
Airspace Entry Time - Earliest 
Airspace Entry Time - Initial
Airspace Entry Time - Original 
Airspace Entry Time - Traffic Flow Management System Estimated </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="exitTime" type="nas:AirspaceExitTimeType" minOccurs="0" maxOccurs="1" nillable="true">
				<xs:annotation>
					<xs:documentation>The estimated airspace exit time considering all data sources, as determined by Traffic Flow Management System (TFMS).</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
